@mixin font($text_weight: $main_text_weight, $text_size: $main_text_size) {
    transition: $transition_speed;
    font-family: $main_text;
    font-weight: $text_weight;
    font-size: $text_size;
    color: $text;
}
