* {
    all: unset;
}

.taskbar {
    @include window;
    padding-left: 3rem;
    padding-right: 3rem;
    //margin-left: 50rem;
    //margin-right: 50rem;
}

.taskbar_unity {
    @include window;
}

.taskbar_apps {
    @include apps;
    padding-bottom: 0rem;
    &.pinned {
        padding-bottom: 0.50rem;
        @include apps($tertiary, $tertiary_off)
    }
}

.taskbar_apps_separators {
    @include hover;
    border-radius: 1rem;
    padding: 0.3rem 1.8rem;
    //margin: 0.25rem;
    margin-bottom: 0rem;
    margin-top: 0.4rem;
    &.active {
        background-color: $primary;
    }
}
