* {
    all: unset;
}

.toppanel {
    @include window;
    transition: 5.0s;
}

.toppanel_workspace {
    @include widgetborder;
}


.toppanel_workspace_button {
    @include button;
    box-shadow: 2px 2px 0px 0px $shadow;
    &.active {
        padding: 0.8rem 1.5rem;
        @include hover($secondary, $secondary_off);
    }

}

.toppanel_clock {
    @include button($tertiary, $tertiary_off);
    //box-shadow: 0px 0px 0px 0px;
    margin: 0rem;
    padding: 0rem 0.5rem;
    @include font;
}
