* {
    all: unset;
}

.taskbar {
    @include window;
    //box-shadow: 0px;
    //background: $transparent;
}

.taskbar_unity {
    @include window;
}

.taskbar_apps {
    @include apps;
    padding-bottom: 0rem;
    //margin-left: 0.2rem;
    //margin-right: 0.2rem;
    &.pinned {
        padding-bottom: 0.65rem;
        //@include apps($tertiary, $tertiary_off)
    }
    &.launcher {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        //margin: 0.5rem;
    }
}

.taskbar_apps_separators {
    @include hover;
    border-radius: 1rem;
    padding: 0.3rem 1.8rem;
    //margin: 0.2rem;
    //margin: 0.25rem;
    //margin-bottom: 0.25rem;
    margin-top: 0.4rem;
}

.taskbar_hover {
    min-height: 1rem;
    min-width: 20rem;
    background-color: #00000001;
    //border-radius: 2rem 2rem 0rem 0rem;
}
