@mixin button($active_color: $primary, $inactive_color: $primary_off) {
    @include hover($active_color, $inactive_color);
    border-radius: 2rem;
    padding: 0.8rem 0.8rem;
    color: $text;
    box-shadow: 4px 4px 1px 1px $shadow;
    margin: 0.5rem;
}
