@mixin hover($active_color: $primary, $inactive_color: $primary_off) {
    transition: $transition_speed;
    background-color: $inactive_color;

    &:hover {
        background-color: $active_color;
    }
}
